// Quasar Sass (& SCSS) Variables

:root {
  --primary: #14a800;
  --secondary: #64e264;
  --background: #fff;
}

$primary: var(--primary);
$secondary: var(--secondary);
$background: var(--background);

$dark: #1d1d1d;
$dark-page: #121212;
